h1 {
  margin-bottom: 0.6em !important;
}

h2 {
  margin-bottom: 0.6em !important;
}

li {
  margin-top: 0.3em !important;
}

.group {
  margin-bottom: 1em !important;
}

.plain-list {
  list-style-type: none !important;
}

#ml-title {
  font-size: 3em;
}

#moz-logo, #cat-pics {
  border: none;
  box-shadow: none;
}

#cat-pics {
  width: 600px;
  vertical-align: middle;
}

#qs {
  font-size: 200%;
  vertical-align: middle;
}

#big-cat {
  width: 600px;
}

#section-pics > img {
  width: 240px;
  margin: 0px 28px;
}

.head-images img {
  width: 100px;
}

.img-src {
  font-size: 90%;
}

#robo-cat {
  width: 300px;
}

.good {
  color: rgb(16, 164, 247);
  font-weight: bold !important;
}

.bad {
  color: rgb(170, 0, 0);
  font-weight: bold !important;
}

.chosen {
  font-weight: bold !important;
}
