h1 {
  margin-bottom: 0.6em !important;
  font-size: 3em !important;
}

h2 {
  margin-bottom: 0.6em !important;
}

li {
  margin-top: 0.3em !important;
}

pre > code {
  white-space: pre-wrap;
  padding: 1em !important;
}

.group {
  margin-bottom: 1em !important;
}

.plain-list {
  list-style-type: none !important;
}

.level:nth-child(n+2) {
  margin-top: 30px !important;
}

.level-2 {
  font-size: 1.2em !important;
}

.level-3 {
  font-size: 1.3em !important;
}

#ml-title {
  font-size: 3em;
}

#moz-logo, #cat-pics {
  border: none;
  box-shadow: none;
}

#my-info {
  font-size: 1.05em !important;
}

html.ml-fun > body {
  background-color: rgb(94, 119, 241);
  background-image: url("images/fun-ml.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

html.transition-slide > body {
  background: rgb(25, 25, 25) !important;
  background-color: rgb(25, 25, 25) !important;
}

html.transition-slide .reveal {
  color: white !important;
}

.blendin {
  color: inherit !important;
}

#cat-detection {
  color: rgb(86, 204, 255);
}

#cat-pics {
  width: 600px;
  vertical-align: middle;
}

#qs {
  font-size: 200%;
  vertical-align: middle;
}

#big-cat {
  width: 600px;
}

#section-pics > img {
  width: 240px;
  margin: 0px 28px;
}

.head-images img {
  width: 100px;
}

.img-src {
  display: inline-block;
  margin-top: 160px !important;
  font-size: 70% !important;
}

.demo-link {
  font-size: 1.2em !important;
}

#robo-cat {
  width: 300px;
}

.good {
  color: rgb(16, 164, 247) !important;
  font-weight: bold !important;
}

.bad {
  color: rgb(170, 0, 0) !important;
  font-weight: bold !important;
}

.chosen {
  font-weight: bold !important;
}
